@media only screen and (max-width: 812px) {
    body {
        margin-left: 0 !important;
    }
    
    #story {
      width: 90% !important;
      margin-left: 0 !important;
      padding-left: 50px;
      position: absolute;
    }

    #ui-bar {
        width: 100% !important;
        position: absolute;
    }

    #ui-bar.stowed {
        left: calc(30px - 100%) !important;
    }

    #menu {
        width: 92% !important;
    }

    #navigation {
        display: flex;
        justify-content: space-evenly;
        width: 90% !important;
    }
}